# Compiled Object files
*.o
*.obj

# Allow Wavefront .obj geometry definition files 
!/models/*.obj  

# Compiled Dynamic libraries
# *.so   decided to keep linux .so with apps so user doesn't have to manually install them.
# *.dylib packing dynamic libaries with the apps
# *.dll  decided to keep Windows .dll with apps to prevent DLL HELL.

# Compiled Static libraries
*.a
*.lib

# Ignore contents of all `bin` directories.  That is, store no executables.
/apps/*/bin/*

# Executables  (Linux and Mac OS handled by more generic /apps/*/bin/*)
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
