# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll  decided to keep Windows .dll with apps to prevent DLL HELL.

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
